[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
marvel = "*"
google_trans_new = "*"
requests = "*"
rapidfuzz = "*"
pymongo = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.8"
